appnope
backcall
bleach
cycler
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
powerline-status
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
scikit-learn
scipy
Send2Trash
simplegeneric
six
terminado
testpath
tornado
traitlets
virtualenv
wcwidth
webencodings
widgetsnbextension
