appnope
backcall
bleach
certifi
decorator
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kaggle
lifelines
MarkupSafe
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pytz
pyzmq
qtconsole
scipy
Send2Trash
simplegeneric
six
terminado
testpath
tornado
traitlets
urllib3
virtualenv
wcwidth
webencodings
widgetsnbextension
xlrd
